

:root {

}

* {
	box-sizing: border-box;
}

* :focus {
  outline: 2px solid var(--color-orange);
}

html {
  font-family: 'Open Sans', sans-serif;
  background-color: #E5E5E5;
}

/*лист без точек*/
ul {
	list-style:none;
	margin: 0;
	padding: 0;
}

a {
  text-decoration: none;/*без подчеркивания*/
}


h1 {
  margin: 0px;
}



/* 1920 - 1770 */
.container {
	width: 100%;
  padding-left: 75px;
  padding-right: 75px;
}



/*Header*/



/* Sections*/



/* hero*/



/*About*/






/* Footer */



/*MEDIA*/

@media (min-width: 1921px) {

  .container {

  }


}

@media (max-width: 1024px) {

  .container {

  }
}



@media (max-width: 768px) {


}

@media (max-width: 320px) {


}
