

:root {
  --color-violet: #9D5CD0;
  --color-violet-light: #C283F3;
  --color-violet-dark: #7943A4;
}

* {
	box-sizing: border-box;
}

* :focus {
  outline: 2px solid var(--color-orange);
}

html {
  font-family: 'Open Sans', sans-serif;
  background-color: white;
}

/*лист без точек*/
ul {
	list-style:none;
	margin: 0;
	padding: 0;
}

a {
  text-decoration: none;/*без подчеркивания*/
}

button {
  border: none;
}

input {
  border: none;
}


h1 {
  margin: 0px;
}

.display-none {
  display: none;
}

.container {
	width: 100%;
  padding-left: 8.1vw;
  padding-right: 8.3vw;
  /* padding-left: 8.3vw;
  padding-right: 8.3vw; */
  /* padding-left: 160px;
  padding-right: 160px; */
}



/*Header*/

.header-container {
  display: flex;
  height: 100px;
  background-color: black;
}

.header-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.header-logo {
  width: 188px;
  height: 42px;
  padding-left: 3px;
  padding-top: 1px;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 40px;
  width: 1250px;
}

.nav-menu-list {
  display: flex;
  flex-wrap: wrap;
}

.nav-menu-item:not(:last-child) {
  margin-right: 3.2vw;
}

.nav-menu-item-link {
  font-size: 19px;
  line-height: 2px;
  font-weight: 500;
  color: white;
}

.header-nav-login {
  margin-left: 20px;
  padding-left: 20px;
  background: url('/img/login.svg') left no-repeat;
}

.header-nav-login-link {
  font-size: 18px;
  font-weight: normal;
  color: white;
}

.search-mobile {
  display: none;
}


/* Sections*/

.section-heading {
  margin-left: 1px;
  font-size: 48px;
  line-height: 48px;
  font-weight: normal;
}

/* Hero*/

.section-hero-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding-left: 8.22vw;
  background-color: rgba(0, 0, 0, 0.4);
}

.section-hero-styles-list {
  display: flex;
  flex-wrap: wrap;
}

.styles-item:not(:last-child) {
  margin-right: 5.01vw;
}

.styles-item:last-child {
  padding-left: 2px;
}

.styles-item-link {
  display: flex;
  flex-wrap: nowrap;
  font-size: 18.1px;
  line-height: 25px;
  font-weight: 400;
  color: white;
}

.styles-item-link-arrow {
  margin-left: 4px;
  margin-top: 11px;
}

.styles-item-link-arrow > path {
  stroke: white;

}

.search-full {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.search-full-svg {
  margin-right: 8px;
  margin-top: 5px;
}

.search-full-input {
  width: 220px;
  padding-left: 0px;
  font-size: 18px;
  line-height: 24px;
  background: none;
  border: none;
  border-bottom: 1px solid white;
}

.search-full-input::placeholder {
  font-size: 18px;
  line-height: 24px;
  color: white;
}


.section-hero {
  height: 700px;
  background-image: url('/img/hero-background-1920.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.section-hero-content {
  padding-top: 71px;
  color: white;
}

.section-hero-heading {
  font-size: 72px;
  line-height: 83px;
  font-weight: bold;
}

.section-hero-description {
  width: 579px;
  margin-top: 19px;
  margin-left: 5px;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
}

.section-hero-button {
  margin-top: 92px;
  margin-left: 3px;
  padding: 22px 35px 23px 37px;
  font-size: 18px;
  line-height: 25px;
  font-weight: bold;
  color: white;
  background-color: var(--color-violet);
  border-radius: 100px;

}

/*About*/

.section-about-container {
  padding-top: 89px;
  padding-bottom: 70px;
}

.section-about-content {
  margin-top: 24px;
  margin-left: 3px;
  max-width: 1082px;
  font-size: 16px;
  line-height: 32px;
  font-weight: normal;
}

/*Gallery*/

.section-gallery {
  height: 995px;
  background-image: url('/img/Gallery-base.png');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.gallery-container {
  display: flex;
  justify-content: space-between;
  padding-top: 89px;
  padding-bottom: 70px;
}

.gallery-filter {
  display: flex;
  flex-direction: column;
  width: 403px;
  height: 836px;
}

.gallery-filter-selector {
  padding-top: 24px;
  font-weight: 600;
  font-size: 15.2px;
  line-height: 32px;
}

.gallery-filter-selector-label {
  margin-left: 5px;
  font-weight: 600;
  font-size: 15.2px;
  line-height: 32px;
}

.choices {
  margin-left: 4px;
  margin-top: 9px;
  margin-left: 4px;
}

.choices__inner {
  min-height: 40px;
  padding: 0 7.5px 0 10px !important;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  background: none;
  border: 1px solid white;
  border-radius: 6px !important;
}

.choices__list--dropdown {
  background: none;
  border-radius: 6px;
}

.choices__list > .is-selected {
  display: none;
}

.choices__list--dropdown > .choices__list > .is-highlighted {
  background: none;
}

.choices__list--single > div {
  color: white;
}

.choices__list--dropdown > .choices__list > .choices__item {
  padding: 0px 10px 5px 20px;
}

.choices__item {
  font-weight: 400;
  font-size: 16px !important;
  line-height: 32px;
  color: #999999;
}

.choices__item:not(:last-child) {
  border-bottom: 1px solid #999999;
}

.choices[data-type*=select-one]:after {
  content: '';
  margin-top: -4px;
  height: 8px;
  width: 8px;
  border-width: 1px;
  border-style: solid;
  border-color: white white transparent transparent;
  box-sizing: border-box;
  transform: rotate(135deg);
  position: absolute;
  right: 15px;
  top: 50%;
  pointer-events: none;
}

.choices[data-type*=select-one].is-open:after {
  margin-top: -4px;
  border-color: white white transparent transparent;
  transform: rotate(135deg);
}

.gallery-filter-condition {
  margin-top: auto;
  padding-left: 3px;
  font-size: 15.3px;
  line-height: 32px;
  font-weight: 600;
}

.gallery-slider {
  width: 1150px;
  margin-left: 20px;
}


/* Catalogue */

.catalogue-container {
  padding-top: 89px;
  padding-bottom: 70px;
}

.catalogue-top {
  display: flex;
}

.catalogue-top-country {
  position: relative;
  margin-left: 32px;
}

.country-list {
  position: absolute;
  top: -7px;
  display: flex;
}

.country-list-item:not(:last-child) {
  margin-right: 30px;
}

.country-list-item-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 66px;
  height: 66px;
  border-radius: 50%;
}

.country-list-item-link:hover {
  cursor: pointer;
}

.country-icon {
  width: 46px;
  height: 46px;
  background-repeat: no-repeat;
}

.country-icon-selected {
  border: 2px solid var(--color-violet);
}

.country-icon-french {
  background-image: url('/img/French-flag.png');
}

.country-icon-belgian {
  background-image: url('/img/Belgian-flag.png');
}

.country-icon-italy {
  background-image: url('/img/Italy-flag.png');
}

.country-icon-russian {
  background-image: url('/img/Russian-flag.png');
}

.country-icon-germany {
  background-image: url('/img/Germany-flag.png');
}

.catalogue-description {
  margin-top: 23px;
  max-width: 1080px;
  padding-left: 4px;
  font-size: 16px;
  line-height: 32px;
  font-weight: normal;
}

.catalogue-content {
  display: flex;
  margin-top: 40px;
  padding-left: 5px;
}

.catalogue-content-info {
  margin-right: 50px;
  width: 39vw;
}

.catalogue-card {
  display: none;
}

.catalogue-card-active {
  display: block;
}

.catalogue-card-img {
  width: 39vw;
  height: 24.48vw;
}

.catalogue-card-description {
  margin-top: 28px;
}

.catalogue-card-description-heading {
  font-size: 23px;
  line-height: 33px;
  font-weight: 600;
}

.catalogue-card-description-dates {
  margin-top: 8px;
  font-size: 12px;
  line-height: 16px;
  font-weight: normal;
  color: #999999;
}

.catalogue-card-description-details {
  margin-top: 6px;
  font-size: 16px;
  line-height: 32px;
  font-weight: normal;
}

.catalogue-content-nav {
  width: 100%;
}

.periods-link {
  display: flex;
  padding: 37px 2px 22.5px 0px;
  border-top: 1px solid #CACACA;
  border-bottom: 1px solid #CACACA;
  border-collapse: collapse;
}

.periods-text {
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  color: #333333;
}

.periods-img {
  margin-left: auto;
  transform: translateY(-5px);
}


.periods-content {
  height: 100% !important;
  padding-top: 25px;
  padding-bottom: 28px;
  border-bottom: 1px solid var(--color-violet);
}

.periods-content-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 16px;
  line-height: 32px;
  font-weight: normal;
}

.periods-content-list-1400 {
  height: 288px;
  padding-right: 25px;
}

.periods-content-list > li {
  width: 200px;
}

.periods-content-list-link-selected {
  font-weight: 600;
  font-size: 15.3px;
  color: var(--color-violet);
}

.periods-content-list-link:hover {
  cursor: pointer;
}

.periods-content-list-link:active {
  color: var(--color-violet-dark);
}



/* Events */

.events-container {
  display: flex;
  flex-direction: column;
  padding-top: 17px;
  padding-bottom: 80px;
  padding-left: calc(8.1vw + 5px);
  padding-right: calc(8.3vw - 5px);
}

.section-heading-events {
  margin-left: -3px;
}

.events-content {
  margin-top: 24px;
}

.pagination-hidden {
  display: none;
}

.swiper-container-events {
  margin: 0px;
  width: inherit;
  height: inherit;
}


.events-list {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  margin: 0 0 0 -2.58vw;
  width: calc(100% + 2.58vw);
  overflow: hidden;
}

.events-list-hidden {
  flex-wrap: nowrap;
}

.event-card {
  display: flex;
  flex-direction: column;
  margin: 0 0 2.58vw 2.58vw;
  width: 26.05vw !important;
  /* min-width: 283px; */
  height: auto;
  /* height: 36.46vw;
  min-height: 683px; */
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.event-card-img-1 {
  background-image: url('/img/events/Event-1.png');
}

.event-card-img-2 {
  background-image: url('/img/events/Event-2.png');
}

.event-card-img-3 {
  background-image: url('/img/events/Event-3.png');
}

.event-card-img-4 {
  background-image: url('/img/events/Event-4.png');
}

.event-card-img-5 {
  background-image: url('/img/events/Event-5.png');
}

.event-card-content {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 15.63vw;
  width: 100%;
  height: 100%;
  min-height: 400px;
  padding: 50px 46px 42px 50px;
  border-left: 1px solid #CACACA;
  border-bottom: 1px solid #CACACA;
  border-right: 1px solid #CACACA;
}

.event-card-img-description {
  position: absolute;
  right: 0;
  top: 0;
  padding-top: 14px;
  padding-right: 18px;
  font-size: 12.3px;
  line-height: 16px;
  text-align: end;
  color: #999999;
}

.card-content-heading {
  font-size: 22.8px;
  line-height: 33px;
  font-weight: 600;
}

.card-content-description {
  padding-top: 2px;
  font-size: 16px;
  line-height: 32px;
  font-weight: normal;
}

.card-content-link {
  margin-top: auto;
  width: fit-content;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  color: var(--color-violet);
  border-bottom: 1px solid var(--color-violet);
}


.events-button {
  align-self: center;
  padding: 16px 33px;
  font-size: 18px;
  line-height: 25px;
  font-weight: bold;
  color: var(--color-violet);
  border: 2px solid var(--color-violet-dark);
  border-radius: 100px;
}




/* Books */

.section-books {
  background-image: url('/img/Book-base.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.books-container {
  display: flex;
  justify-content: space-between;
  padding-top: 80px;
  padding-bottom: 77px;
  color: white;
}

.books-filter {
  display: flex;
  flex-direction: column;
  margin-right: 50px;
}

.section-books-heading {
  padding-top: 8px;
}

.books-filter-categories {
  margin-left: 3px;
}

.categories-heading {
  margin-top: 24px;
  font-size: 16px;
  line-height: 32px;
  font-weight: bold;
}


.categories-list {
  display: flex;
  flex-direction: column;
}

.category-label {
  position: relative;
  cursor: pointer;
  padding-left: 25px;
  font-size: 16px;
  line-height: 32px;
  font-weight: normal;
}

.category-label[aria-checked='true'] {
  color: var(--color-violet-light);
}


.category-checkbox {
  display: none;
}

.category-checkbox + span {
  position: absolute;
  top: 5px;
  left: 1px;
  width: 12px;
  height: 12px;
  border: 1px solid white;
  text-align: center;
  transition: border .2s ease-in-out;
}

.category-checkbox:checked + span {
  border: 1px solid var(--color-violet-light);
}

.category-checkbox + span:before {
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  width: 4px;
  height: 4px;
  background-color: var(--color-violet-light);
  border-radius: 50%;
  opacity: 0;
  transition: opacity .2s ease-in-out;
}

.category-checkbox:checked + span:before {
  opacity: 1;
}

.books-filter-price {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  margin-left: 4px;
  color: white;
}

.price-heading {
  margin-bottom: 7px;
  font-size: 16px;
  line-height: 32px;
  font-weight: bold;
}

.price-content {
  display: flex;
  align-items: center;
  margin-bottom: 3px;
  height: 40px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 6px;
  font-size: 16px;
  line-height: 32px;
  font-weight: normal;
}

.price-content > * {
  padding-left: 10px;
  padding-right: 10px;
}

.price-content-input {
  width: 73px;
  height: 100%;
  color: white;
  background-color: rgba(157, 92, 208, 0.5);
}


.books-slider {
  width: 60vw;
  height: 605px;
  background-color: red;
}


/* Projects */

.projects-container {
  padding-top: 89px;
  padding-bottom: 10px;
  color: red;
}

.projects-description {
  margin-top: 24px;
  margin-left: 3px;
  max-width: 1080px;
  font-size: 16px;
  line-height: 32px;
  font-weight: normal;
}


.projects-tooltip {
  position: relative;
  display: inline;
}

.tooltip-marker {
  display: inline-block;
  width: 17px;
  height: 17px;
  background-image: url('/img/icon-info.svg');
  background-size: cover;
  transform: translate(-2px, 3px);
  cursor: pointer;
}

.tooltip-popup {
  position: absolute;
  left: calc(50% - 3px);
  transform: translateX(-50%);
  bottom: 31px;
  width: max-content;
  max-width: 264px;
  padding: 9px 11px 9px 11px;
  color: white;
  font-size: 11.5px;
  line-height: 16px;
  font-weight: 600;
  text-align: center;
  background-color: #CACACA;
  opacity: 0;
  transition: opacity .15s ease-in-out;
}

.tooltip-marker::before {
  position: absolute;
  bottom: 11px;
  left: 3px;
  content: '';
  border: 7px solid transparent;
  border-top: 11px solid #CACACA;
  opacity: 1;
  transition: opacity .15s ease-in-out;
}

.tooltip-marker:hover + .tooltip-popup,
.tooltip-marker:focus + .tooltip-popup {
  opacity: 1;
}

.tooltip-marker:hover::before,
.tooltip-marker:focus::before {
  opacity: 1;
}

.projects-description-link {
  font-size: 15.5px;
  line-height: 32px;
  font-weight: 600;
  color: var(--color-violet);
}



/* Contacts */



/* Footer */

.footer {
  background-color: black;
}


/*MEDIA*/

@media (min-width: 1921px) {

  .container {
    padding-left: 8.3vw;
    padding-right: 8.3vw;
  }


}

@media (max-width: 1600px) {
  .periods-content-list-1400 {
    height: 384px;
    padding-right: 25px;
  }

  /* .events-container {
    padding-left: 7.5vw;
    padding-right: 4vw;
  } */

}

@media (max-width: 1024px) {

  .container {
    padding-left: 50px;
    padding-right: 50px;
  }

  .header-nav {
    display: none;
  }

  .search-mobile {
    display: flex;
  }

  .section-hero-menu {
    display: none;
  }

  .section-hero {
    height: 668px;
    background-image: url('/img/hero-background-1024.png');
  }

  .event-card-content {
    margin-top: 195px;
  }

  .event-card-img-1 {
    background-image: url('/img/events/Event-1-290.png');
  }

  .event-card-img-2 {
    background-image: url('/img/events/Event-2-290.png');
  }

  .event-card-img-3 {
    background-image: url('/img/events/Event-3-290.png');
  }

  .event-card-img-4 {
    background-image: url('/img/events/Event-4-290.png');
  }

  .event-card-img-5 {
    background-image: url('/img/events/Event-2.png');
  }
}



@media (max-width: 768px) {

  .container {
    padding-left: 6.5vw;
    padding-right: 6.5vw;
  }

  .header-container {
    height: 13vw;
  }

}

@media (max-width: 320px) {

  .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .header-container {
    height: 45px;
  }

  .pagination-hidden {
    display: block;
  }

}
