

:root {
  --color-violet: #9D5CD0;
}

* {
	box-sizing: border-box;
}

* :focus {
  outline: 2px solid var(--color-orange);
}

html {
  font-family: 'Open Sans', sans-serif;
  background-color: white;
}

/*лист без точек*/
ul {
	list-style:none;
	margin: 0;
	padding: 0;
}

a {
  text-decoration: none;/*без подчеркивания*/
}

button {
  border: none;
}


h1 {
  margin: 0px;
}

.display-none {
  display: none;
}

.container {
	width: 100%;
  padding-left: 8.1vw;
  padding-right: 8.3vw;
  /* padding-left: 8.3vw;
  padding-right: 8.3vw; */
  /* padding-left: 160px;
  padding-right: 160px; */
}



/*Header*/

.header-container {
  display: flex;
  height: 100px;
  background-color: black;
}

.header-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.header-logo {
  width: 188px;
  height: 42px;
  padding-left: 3px;
  padding-top: 1px;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 40px;
  width: 1250px;
}

.nav-menu-list {
  display: flex;
  flex-wrap: wrap;
}

.nav-menu-item:not(:last-child) {
  margin-right: 3.2vw;
}

.nav-menu-item-link {
  font-size: 19px;
  line-height: 2px;
  font-weight: 500;
  color: white;
}

.header-nav-login {
  margin-left: 20px;
  padding-left: 20px;
  background: url('/img/login.svg') left no-repeat;
}

.header-nav-login-link {
  font-size: 18px;
  font-weight: normal;
  color: white;
}

.search-mobile {
  display: none;
}


/* Sections*/

.section-heading {
  margin-left: 1px;
  font-size: 48px;
  line-height: 48px;
  font-weight: normal;
}

/* Hero*/

.section-hero-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding-left: 8.22vw;
  background-color: rgba(0, 0, 0, 0.4);
}

.section-hero-styles-list {
  display: flex;
  flex-wrap: wrap;
}

.styles-item:not(:last-child) {
  margin-right: 5.01vw;
}

.styles-item:last-child {
  padding-left: 2px;
}

.styles-item-link {
  display: flex;
  flex-wrap: nowrap;
  font-size: 18.1px;
  line-height: 25px;
  font-weight: 400;
  color: white;
}

.styles-item-link-arrow {
  margin-left: 4px;
  margin-top: 11px;
}

.styles-item-link-arrow > path {
  stroke: white;

}

.search-full {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.search-full-svg {
  margin-right: 8px;
  margin-top: 5px;
}

.search-full-input {
  width: 220px;
  padding-left: 0px;
  font-size: 18px;
  line-height: 24px;
  background: none;
  border: none;
  border-bottom: 1px solid white;
}

.search-full-input::placeholder {
  font-size: 18px;
  line-height: 24px;
  color: white;
}


.section-hero {
  height: 700px;
  background-image: url('/img/hero-background-1920.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.section-hero-content {
  padding-top: 71px;
  color: white;
}

.section-hero-heading {
  font-size: 72px;
  line-height: 83px;
  font-weight: bold;
}

.section-hero-description {
  width: 579px;
  margin-top: 19px;
  margin-left: 5px;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
}

.section-hero-button {
  margin-top: 92px;
  margin-left: 3px;
  padding: 22px 35px 23px 37px;
  font-size: 18px;
  line-height: 25px;
  font-weight: bold;
  color: white;
  background-color: var(--color-violet);
  border-radius: 100px;

}

/*About*/

.section-about-container {
  padding-top: 89px;
  padding-bottom: 70px;
}

.section-about-content {
  margin-top: 24px;
  margin-left: 3px;
  max-width: 1082px;
  font-size: 16px;
  line-height: 32px;
  font-weight: normal;
}

/*Gallery*/

.section-gallery {
  height: 995px;
  background-image: url('/img/Gallery-base.png');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.gallery-container {
  display: flex;
  justify-content: space-between;
  padding-top: 89px;
  padding-bottom: 70px;
}

.gallery-filter {
  display: flex;
  flex-direction: column;
  width: 403px;
  height: 836px;
}

.gallery-filter-selector {
  padding-top: 24px;
  font-weight: 600;
  font-size: 15.2px;
  line-height: 32px;
}

.gallery-filter-selector-label {
  margin-left: 5px;
  font-weight: 600;
  font-size: 15.2px;
  line-height: 32px;
}

.choices {
  margin-left: 4px;
  margin-top: 9px;
  margin-left: 4px;
}

.choices__inner {
  min-height: 40px;
  padding: 0 7.5px 0 10px !important;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  background: none;
  border: 1px solid white;
  border-radius: 6px !important;
}

.choices__list--dropdown {
  background: none;
  border-radius: 6px;
}

.choices__list > .is-selected {
  display: none;
}

.choices__list--dropdown > .choices__list > .is-highlighted {
  background: none;
}

.choices__list--single > div {
  color: white;
}

.choices__list--dropdown > .choices__list > .choices__item {
  padding: 0px 10px 5px 20px;
}

.choices__item {
  font-weight: 400;
  font-size: 16px !important;
  line-height: 32px;
  color: #999999;
}

.choices__item:not(:last-child) {
  border-bottom: 1px solid #999999;
}

.choices[data-type*=select-one]:after {
  content: '';
  margin-top: -4px;
  height: 8px;
  width: 8px;
  border-width: 1px;
  border-style: solid;
  border-color: white white transparent transparent;
  box-sizing: border-box;
  transform: rotate(135deg);
  position: absolute;
  right: 15px;
  top: 50%;
  pointer-events: none;
}

.choices[data-type*=select-one].is-open:after {
  margin-top: -4px;
  border-color: white white transparent transparent;
  transform: rotate(135deg);
}

.gallery-filter-condition {
  margin-top: auto;
  padding-left: 3px;
  font-size: 15.3px;
  line-height: 32px;
  font-weight: 600;
}

.gallery-slider {
  width: 1150px;
  margin-left: 20px;
}


/* Catalogue */


/* Events */


/* Books */

.section-books {
  background-image: url('/img/Book-base.png');
  background-repeat: no-repeat;
  background-size: cover;
}


/* Projects */


/* Contacts */



/* Footer */

.footer {
  background-color: black;
}


/*MEDIA*/

@media (min-width: 1921px) {

  .container {
    padding-left: 8.3vw;
    padding-right: 8.3vw;
  }


}

@media (max-width: 1024px) {

  .container {
    padding-left: 50px;
    padding-right: 50px;
  }

  .header-nav {
    display: none;
  }

  .search-mobile {
    display: flex;
  }

  .section-hero-menu {
    display: none;
  }

  .section-hero {
    height: 668px;
    background-image: url('/img/hero-background-1024.png');
  }
}



@media (max-width: 768px) {

  .container {
    padding-left: 6.5vw;
    padding-right: 6.5vw;
  }

  .header-container {
    height: 13vw;
  }

}

@media (max-width: 320px) {

  .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .header-container {
    height: 45px;
  }

}
